<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.erp.dao.ManagerDAO">
    <select id="getManagerForLogin" resultType="com.erp.dto.ManagerDTO">
        SELECT
            manager_id,
            pw,
            email,
            manager_name,
            phone_number,
            in_date,
            del_date,
            role
        FROM manager
        WHERE manager_id = #{managerId}
    </select>

    <insert id="addManager" parameterType="com.erp.dto.ManagerDTO">
        insert into manager (manager_id,
                             pw,
                             email,
                             manager_name,
                             phone_number,
                             in_date,
                             role)
        values (#{managerId},
                #{pw},
                #{email},
                #{managerName},
                #{phoneNumber},
                NOW(),
                #{role})
    </insert>

        <update id="setManager" parameterType="com.erp.dto.ManagerDTO">
            update manager
            set
                pw=#{pw},
                email=#{email},
                manager_name=#{managerName},
                phone_number=#{phoneNumber}
            where manager_id = #{managerId}
        </update>

        <update id="removeManager" parameterType="com.erp.dto.ManagerDTO">
            update manager
            set
                del_date = now()
            where manager_id = #{managerId}
        </update>

    <select id="getManagers" resultType="com.erp.dto.ManagerDTO">
        select
            manager_id,
            email,
            manager_name,
            phone_number
        from manager
        WHERE ROLE = 'ROLE_MANAGER' AND del_date IS null
    </select>

    <select id="getManagerDetail" resultType="com.erp.dto.ManagerDTO">
        select
            manager_id,
            email,
            manager_name,
            phone_number
        from manager
        WHERE manager_id=#{managerId} and ROLE = 'ROLE_MANAGER' AND del_date IS null
    </select>
</mapper>



